.myContainer{
    max-width: 1240px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left:2rem;
    padding-right:2rem;
}

.teamHolder{
    width:100%;
    max-width: 800px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

