.myContainer{
    max-width: 1240px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin:0 auto;
}

.teamHolder{
    margin-top:100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap ;
    padding-top: 0;
}

.githubContainer {
    width: 100%;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    align-items: center;
    background-color: var(--dark-background-color);
    /* border: 0rem solid var(--primary-color);
    border-top-width: 1rem; */
}

.githubTextContainer {
    width: 100%;
    padding: min(7rem, 5vh) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.githubText1 {
    font-size: min(5rem, 13vw);
    font-weight: 100;
    color: var(--text-on-dark-background);
    letter-spacing: 5px;
    word-spacing: min(20px, 1vw);
    margin-bottom: min(20px, 1vw);
    text-align: center;
}

.githubText2 {
    font-size: min(5rem, 15vw);
    font-weight: 900;
    background: -webkit-linear-gradient(to right, var(--secondary-color), var(--tertiary-color));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--secondary-color), var(--tertiary-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.githubLinkContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: max(40%, 320px);
}

.githubLink {
    padding: 0.75rem 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-on-dark-background);
    /* background-color: var(--secondary-color); */
    background: linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
    /* border: 1px solid var(--text-on-dark-background); */
    border-radius: 15px;
    font-weight: 200;
    margin: 1rem 2rem;
    text-align: center;
}

@media screen and (max-width: 480px){
    .teamHolder {
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .githubLinkContainer {
        flex-direction: column;
    }
}
