
.navBarItem{
    text-decoration: none;
    color:black;
}

.holder{
    padding:7px 0px;
    display:flex;
    flex-direction:row;
    max-width:600;
    align-items:center;
    justify-content:space-evenly
}

.hamburgerHolder{
    display:none
}

@media screen and (max-width: 480px){


    .holder{
        display: none;
    }

    .hamburgerHolder{
        position: relative;
        display: block;
        width:45px;
        z-index: 5;
    }

    .burgerMenuHolder{
        position: relative;;
        display:flex;
        flex-direction: column;
        width: 100%;
    }

    .hamburgerItem{
        text-decoration: none;
        color:white;
        padding: 5px;
    }
    
}
