.main {

    background-color: var(--background-color);
    color: var(--text-color);

    height: fit-content;
    width: 100%;
    overflow-x: hidden;
}

.myContainer{
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
    
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;

    background-color: var(--background-color);
    overflow-x: hidden;
    max-width: 1240px;
    width: 100vw;
}

.inputHolder{
    display:flex;
    flex-direction: row;
    justify-content:center;
    width:100%;
    max-width:700px;
    margin: 0 auto;
}

.button{
    margin: 2px;
    margin-left: min(20px, 5vw);
}

.button{
    background: linear-gradient(to right, var(--primary-gradient), var(--secondary-gradient));
    border: none;
    color: var(--text-on-dark-background);
    font-weight: 400;
    border-radius: 8px;
    padding: min(10px, 2vw) min(10px, 2vw);
    cursor: pointer;
    transition: 0.1s;
    font-size: min(1rem, 5vw);
}

.button:hover,
.button:focus-visible
{
    background: var(--background-color);
    border: none;
    /* background: -webkit-linear-gradient(to right, var(--secondary-color), var(--tertiary-color));  
    background: linear-gradient(to right, var(--secondary-color), var(--tertiary-color)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    outline: 2px solid var(--secondary-color);
    /* transition: 0.1s; */
    color: var(--text-color);
}

.input {
    border: none;
    border-bottom: 1px solid var(--text-color);
    background-color: transparent;
    width: 100%;
    color: var(--text-color);
    font-size: 1rem;
    padding-right: 1.2rem;
    padding-bottom: 3px;
}


.input::placeholder {
    color: var(--text-color);
    opacity: 0.7;
}

.input:focus {
    outline: none;
    border-color: var(--secondary-color);
}

.errorText {
    color: var(--error-color);
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem;
    font-weight: 400;
}

.title{
    text-align: center;
    margin-bottom: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nemHiszed {
    white-space: nowrap;
    color: var(--text-color);
}

.derivative {
    background: -webkit-linear-gradient(to right, var(--primary-gradient), var(--secondary-gradient));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--primary-gradient), var(--secondary-gradient)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.loading{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    width:100px;
    height: 50px;
    margin-top: 50px;
}

.solutionWrapper{
    width: min(600px, 100vw);
    /* overflow-x: auto; */
}

.darkClear {
    position: absolute;
    right: 0;
    filter: invert();
    cursor: pointer;
    transition: 0.2s;
}


.clear {
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: 0.2s; 
    filter: invert() brightness(.1);
}

.clear:hover, .darkClear:hover{
    transform: scale(1.4);
    transition: 0.2s;
}

@media screen and (max-width: 800px){

    .inputHolder{
        width: 90vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input {
        width: 100%;
    }

    .title{
        font-size: min(2.5rem, 10vw);
    }

    .button{
        margin-left: 0;
        margin-top: 2rem;
        padding:8px 12px;
    }
}

