.myContainer{
    position:relative;
    max-width:1240px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left:1rem;
    padding-right:1rem;
    margin-bottom:100px;
}

.title{
    text-align: center;
    line-height: 150%;
    padding-top:100px;
    padding-bottom:50px;
}

.textBackground{
    background: -webkit-linear-gradient(to right, var(--secondary-color), var(--tertiary-color));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--secondary-color), var(--tertiary-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.inputHolder{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
}

.select {
    padding:3px 5px;
    border: 1.5px solid var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 8px;
    outline: none;
}

.select:focus {
    border: 1.5px solid var(--secondary-color);
    outline:none;
    outline: 1px solid var(--secondary-color); 
    /* create a BIG glow */
    box-shadow: 0px 0px 5px var(--secondary-color);
    -moz-box-shadow: 0px 0px 5px var(--secondary-color);
    -webkit-box-shadow: 0px 0px 5px var(--secondary-color);  
}

.option {
    /* the individual options */
    font-size: 0.9rem;
}

.option:checked {
    /* background: linear-gradient(var(--text-color), var(--text-color));
    background-color: var(--text-color) !important; for IE */
    /* color: var(--secondary-color) !important; */
}

.button {
    background:linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
    border:none;
    color:var(--text-on-dark-background);
    font-weight: lighter;
    border-radius: 8px;
    font-size: 1rem;
    padding:10px 10px;
    cursor:pointer;
    transition:0.1s;
}

.button:hover,
.button:focus-visible
{
    background: var(--background-color);
    border: none;
    /* background: -webkit-linear-gradient(to right, var(--secondary-color), var(--tertiary-color));  
    background: linear-gradient(to right, var(--secondary-color), var(--tertiary-color)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    outline: 2px solid var(--secondary-color);
    /* transition: 0.1s; */
    color: var(--text-color);
}

.solutionHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exercise {

    width: fit-content;
    white-space: nowrap;
    
    padding: 10px 7px;

    margin-top: 2rem;
    margin-bottom: 2rem;

    width: fit-content;
    max-width: min(90vw, 1280px);
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.loading{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    width: 100px;
    height: 50px;
    margin-top: 50px;
}

.solutionWrapper{
    width: min(600px, 100%);
};


.exercise::-webkit-scrollbar {
    background-color: transparent;
    height: 0;
}

.exercise:hover::-webkit-scrollbar {
    height: 0.4rem;
}

.exercise::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-inactive);
    border-radius: 1rem;
    height: 0.2rem;
}

.exercise::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-active);
}

.exercise::-webkit-scrollbar-track {
    background-color: transparent;
}
