.hamburgerHolder {
    display: none;
}

.navbarHolder {
    /* font-family: Inter; */
    font-weight: 300;
    position: fixed;
    top:0;
    background-color: #3D1766;
    padding: 12px 0px;
    display: flex;
    flex-direction: row;
    max-width: 600;
    width: 100%;
    z-index: 5;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    /* padding-left: 5rem; */
}

.navBarItem {
    text-decoration: none;
    font-size: 1.125rem;
    color: var(--text-on-dark-background);
}

@media screen and (max-width: 800px) {
    .hamburgerHolder {
        display: block;
    }

    .navbarHolder {
        display: none;
    }
}