.myContainer{
    position:relative;
    max-width:1240px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left:1rem;
    padding-right:1rem;
    margin-bottom:100px;
}

.reportBugHolder{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 90%;
    margin:100px auto;
    align-items: center;
    /* gap: 2rem; */
}

.title{
    color: var(--text-color);
    text-align: center;
    line-height: 150%;
    font-weight: normal;
    font-size: 2.1rem;
}

.titleInput{
    padding:10px;
    outline: none;
    max-width: 500px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);
    margin-top: 2rem;
}

.bugInput{
    padding:10px;
    outline: none;
    border: 1px solid var(--text-color);
    max-width: 500px;
    width:80%;
    border-radius: 4px;
    background-color: var(--background-color);
    color: var(--text-color);
    resize: none;
    margin-top: 2rem;
}

.titleInput::placeholder,
.bugInput::placeholder {

    color: var(--text-color);
    opacity: 0.7;

}

.titleInput:focus,
.bugInput:focus
{
    border-color: var(--secondary-color);
    outline: 1px solid var(--secondary-color);
}

.dropDown{
    max-width: 300px;
    width: 85%;
    padding:10px 10px;
    outline: none;
    text-align: center;
    border-radius: 4px;
    margin: 0;
    margin-top: 2rem;

    color: var(--text-color);
    background-color: var(--background-color);
    outline: none;
    border-color: var(--text-color);
}

.dropDown:focus {

    border-color: var(--secondary-color);
    outline: 1px solid var(--secondary-color);

}

.button {
    background: linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
    border:none;
    color: var(--text-on-dark-background);
    font-weight: 400;
    border-radius: 8px;
    padding: 10px 30px;
    /* border: 2px solid white; */
    cursor:pointer;
    transition:0.1s;
    font-size: 1rem;
    margin-top: 2rem;
}

.button:hover,
.button:focus-visible
{
    background: var(--background-color);
    border: none;
    /* background: -webkit-linear-gradient(to right, var(--secondary-color), var(--tertiary-color));  
    background: linear-gradient(to right, var(--secondary-color), var(--tertiary-color)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    outline: 2px solid var(--secondary-color);
    /* transition: 0.1s; */
    color: var(--text-color);
}

.error {
    color: var(--error-color);
    margin: 0.3rem;
}

@media screen and (max-width: 480px){
    .repurtBugHolder{
        width: 95%;
        gap:3rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }   
}

