
.bugButton{

    z-index: 5;
    width: 40px;
    height: 40px;
    position: fixed;
    outline: none;
    border: none;

    bottom:20px;
    left:20px;

    background-color: none;
    background: none;
    cursor: pointer;
    transition: 0.2s;

    opacity: 0.85;
}

@media screen and (max-width: 480px) {
    .bugButton {
        left: 10px;
        bottom: 10px;
    }
}

.bugButton:hover{
    transition: 0.2s;
    transform: scale(1.1);
    opacity: 1;
}

.modal{
    position: relative;
    border-radius: 4px;
    background-color: var(--team-card-background);
    max-width: 800px;
    width: 95%;
    margin:0 auto;
    outline:none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0 , 0.5);
  }

.reportBugHolder{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1280px;
    margin:100px auto;
    align-items: center;
    padding: 50px 0px;
    /* gap: 2rem; */
}

.closingX{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: 0.2s;
}

.closingX:hover{
    transition: 0.2s;
    transform: rotate(-45deg) scale(0.9);
}

.title{
    color: var(--text-color);
    text-align: center;
    line-height: 150%;
    font-weight: normal;
    font-size: 2.1rem;
}

.titleInput{
    padding:10px;
    outline: none;
    max-width: 500px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);
    margin-top: 2rem;
}

.bugInput{
    padding:10px;
    outline: none;
    border: 1px solid var(--text-color);
    max-width: 500px;
    width:80%;
    border-radius: 4px;
    background-color: var(--background-color);
    color: var(--text-color);
    resize: none;
    margin-top: 2rem;
}

.titleInput::placeholder,
.bugInput::placeholder {

    color: var(--text-color);
    opacity: 0.7;

}

.titleInput:focus,
.bugInput:focus
{
    border-color: var(--secondary-color);
    outline: 1px solid var(--secondary-color);
}

.dropDown{
    max-width: 300px;
    width: 85%;
    padding:10px 10px;
    outline: none;
    text-align: center;
    border-radius: 4px;
    margin: 0;
    margin-top: 2rem;

    color: var(--text-color);
    background-color: var(--background-color);
    outline: none;
    border-color: var(--text-color);
}

.dropDown:focus {

    border-color: var(--secondary-color);
    outline: 1px solid var(--secondary-color);

}

.button {
    background: linear-gradient(to right, var(--primary-gradient), var(--secondary-gradient));
    border:none;
    color: var(--text-on-dark-background);
    font-weight: 400;
    border-radius: 8px;
    padding: 10px 30px;
    /* border: 2px solid white; */
    cursor:pointer;
    transition:0.1s;
    font-size: 1rem;
    margin-top: 2rem;
}

.button:hover,
.button:focus-visible
{
    background: var(--background-color);
    border: none;
    /* background: -webkit-linear-gradient(to right, var(--secondary-color), var(--tertiary-color));  
    background: linear-gradient(to right, var(--secondary-color), var(--tertiary-color)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    outline: 2px solid var(--secondary-color);
    /* transition: 0.1s; */
    color: var(--text-color);
}

.error {
    color: var(--error-color);
    margin: 0.3rem;
}

@media screen and (max-width: 480px){
    .repurtBugHolder{
        width: 95%;
        gap:3rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }   
}

