.stepHolder {
    font-size: 1rem;
}

.stepLatex{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stepHover{
    cursor:pointer;
    transition: 0.05s;
}

.stepHover:hover .stepMathJax{
    transition: 0.1s;
    color: var(--secondary-color);
    font-size: 1.0rem;
}

.stepMathJax {
    display: flex;
    
    height:fit-content;
    position: relative;
    align-self: center;
    justify-content: center;

    padding: 10px 7px;
    
    font-size: 0.9rem;

    border-bottom: 0.5px solid rgb(187, 187, 187);

    transition: 0.05s;    

    width: fit-content;
    max-width: min(90vw, 1000px);
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.stepMathJax::-webkit-scrollbar {
    background-color: transparent;
    height: 0;
}

.stepMathJax:hover::-webkit-scrollbar {
    height: 0.4rem;
}

.stepMathJax::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-inactive);
    border-radius: 1rem;
    height: 0.4rem;
}

.stepMathJax::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-active);
}

.stepMathJax::-webkit-scrollbar-track {
    background-color: transparent;
}

.stepMathJaxLast{
    border-bottom: none;
}

@media screen and (max-width: 480px){

    .stepHolder{
        position: relative;
    }

    .stepMathJax {
        border-bottom: none;
    }
    
    .stepLatex{
        border-bottom: 0.5px solid rgb(187, 187, 187);
    }
    
}

